.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;

    background: #efe4c9;
    border-bottom: 3px solid #000;
}

.navbar-logo {
    font-family: "Times New Roman", serif;
    font-size: 28px;
    letter-spacing: 2px;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar-links li {
    font-family: "Times New Roman", serif;
    font-size: 18px;
    cursor: pointer;
}